* {
    border: 1px solid red;
}

body {
    background-color: rgb(35, 158, 35);
}

.container {
    background-color: rgb(62, 0, 207);
}

footer {
    background-color: blueviolet;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0)
}

.flexContainer {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.flex-section {

}

.flex-aside {

}

.flex-item {
    margin: 1em;
}